body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 100vh;
}

header {
    background-color: transparent;
    padding: 20px;
    color: #007bff;
    text-align: center;
}

h1 {
    margin: 0;
    color: #007bff;
}

#relojUTC {
    font-size: 18px;
    font-family: 'Poppins', sans-serif;
    font-weight: bold;
    color: #3498db;
    margin-top: 10px;
}

#visitas {
    font-size: 16px;
    margin-bottom: 10px;
}

#counter {
    font-weight: bold;
    color: #06d810;
}

#modoOscuroBtn {
    background-color: transparent;
    border: none;
    cursor: pointer;
}

#modoOscuroBtn svg {
    fill: #fff;
}

body.modo-oscuro {
    background-color: #1a1a1a;
    color: #ffffff;
}

#modoOscuroBtn.modo-oscuro svg {
    fill: #000;
}

#albionForm {
    text-align: center;
    margin-bottom: 20px;
}

label {
    margin-right: 10px;
}

select {
    padding: 8px;
    margin-bottom: 15px;
}

button {
    padding: 10px 20px;
    background-color: #1565c0;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: #0d47a1;
}

#resultados {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    gap: 20px;
}

.mercado {
    box-sizing: border-box;
    width: 300px;
    padding: 20px;
    border: 2px solid #1565c0;
    border-radius: 10px;
    background-color: #3f3f3f; /* Color más oscuro para resaltar el texto */
    transition: transform 0.3s ease-in-out;
    overflow: hidden;
    text-align: center;
    margin-bottom: 20px;
}

.mercado:hover {
    transform: scale(1.05);
}

.nombre-mercado {
    font-weight: bold;
    color: #fff;
    margin-bottom: 10px;
}

.mercado p {
    margin: 0;
    padding: 5px 0;
    color: #fff;
}
/* Estilo del footer */
footer {
    background-color: #333;
    color: #fff;
    padding: 20px 0;
    text-align: center;
}

.footer-content {
    max-width: 800px;
    margin: 0 auto;
}

/* Estilo de los enlaces del footer */
.footer-links {
    list-style: none;
    padding: 0;
    margin-top: 10px;
}

.footer-links li {
    display: inline-block;
    margin-right: 15px;
}

.footer-links a {
    color: #fff;
    text-decoration: none;
    font-weight: bold;
}

/* Estilo de los enlaces al pasar el ratón */
.footer-links a:hover {
    border-bottom: 2px solid #fff;
}
